/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .hero-video--section {
        width: 20rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}


@media screen and (max-width:998px) {
    .navbar-toggler {
        border-color: var(--bs-main-color);
    }

    .navbar-toggler-icon {
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }

    h1 {
        font-size: 2.4rem;
    }

    section .common-heading {
        font-size: 2rem;
    }

    section .para-width {
        width: auto;
    }

    .hero-section{
        height: 100vh;
    }

    h2{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .more-info-section{
        text-align: center;
    }
}