@import url(media-queries.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    width: 1200px;
    margin: 0 auto;
}

/* Declare Global CSS Variables */
:root {
    --bs-dark-primary: #2a2e32;
    --bs-secondary-color: #003b99;
    --bs-secondary-light-color: rgb(44, 125, 255);
    --bs-dark-color: #33383d;
    --bs-main-color: #fff;
    --bs-white-primary: #e9ecef;
    --bs-primary-color: #c6c6c6;
    --bs-supporting-color: #C850C0;
    --bs-body-bgcolor: #e9ecef;
    /* --bs-header-height: 100px; */
}


h1,
h2,
h3,
h4,
h5,
a {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 4rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    /* color: var; */
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    /*Disables the synthesis of the bold, italic, small-caps, and/or subscript and superscript typefaces*/
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


button {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading {
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}

.common-title {
    margin-bottom: 4.2rem;
}

.nav-link {
    color: var(--bs-dark-primary);
    font-weight: bold;
    margin: 0 20px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.navbar-nav .nav-link.active {
    color: var(--bs-secondary-color);
}

.text-light-grey {
    color: var(--bs-primary-color);
}

.bg-theme {
    color: var(--bs-supporting-color);
    font-weight: bold;
    background-image: none !important;
}

/* Hero section start */
.hero-section {
    display: grid;
    place-content: center;
    height: inherit;
}

.hero-video--section {
    width: 30rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.custom-shape1 svg {
    transform: scaleY(-1);
}

/***** Services Section *****/
.icon-span {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bs-secondary-light-color);
    color: var(--bs-main-color);
}

.card-box:hover {
    background-color: rgba(233, 236, 239, 0.2);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.img-fluid {
    width: 120px;
}

/***** End Services Section *****/

/***** More Info Section *****/
.more-info-section {
    background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.9));
    /* background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.9)), url("https://images.pexels.com/photos/15705988/pexels-photo-15705988/free-photo-of-a-wooden-walkway-in-the-woods-with-trees.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* padding: 10rem 0 5rem 0; */
    /* position: absolute; */
}


.img-section img {
    width: 70%;
}

.custom-shape2 svg {
    background-color: #555656;
}

/***** End More Info Section *****/


/***** Start Common Section *****/
.custom-shape3 svg {
    transform: scaleY(-1);
}

.custom-shape4 svg {
    /*transform: scaleY(-1);
    */
    transform: rotate(180deg);
}

/***** End Common Section *****/



/***** Testimonials Section *****/
/* Carousel */

.carousel {
    padding: 0 8rem;
}

.card-img-top {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.carousel .card {
    background: linear-gradient(180deg,
            /* Start color */
            #003b99 0%,
            /* Middle (lightest) */
            #3a3a4a 50%,
            /* End (same as start) */
            #2b2f33 100%);
    color: var(--bs-primary-color);

}

.shadowWrapper {
    perspective: 1000px;
    height: auto;
}

.carousel .card:hover {
    transform: rotateX(10deg);
    /*Exaggeratetiltonhover*/
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    -ms-transform: rotateX(10deg);
    -o-transform: rotateX(10deg);
    background: linear-gradient(180deg,
            /* Start color */
            #003fa4 0%,
            /* Middle (lightest) */
            #49495c 50%,
            /* End (same as start) */
            #3e4349 100%);

}


.fa-star {
    color: var(--bs-supporting-color);
}

.carousel-indicators {
    bottom: -5%;
}

.carousel-indicators [data-bs-target] {
    width: .7rem;
    height: .7rem;
    background-color: var(--bs-secondary-color);
}

/***** End Testimonial Section *****/

/***** Expert Panel Section *****/
.text-grey {
    color: var(--bs-dark-color);
}

.text-light-grey {
    color: var(--bs-primary-color);
}

/***** End Expert Panel Section *****/

/***** Contact Section *****/
.contact-section {
    /* position: relative; */
}

.custom-shape6 svg {
    background-color: #555656;
    transform: scaleY(-1);
}

/* .shapedividers_com-629 {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-629::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 90px;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.62" preserveAspectRatio="none"><path d="M35.278.092S8.238.267 0 3.62V.092z" opacity=".2" fill="%212529"/><path d="M35.278.092S8.238.246 0 3.194V.092z" opacity=".2" fill="%212529"/><path d="M35.278.092S8.238.223 0 2.738V.092zM35.278.092H0V0h35.278z" fill="%212529"/></svg>');
}

@media (min-width:2100px) {
    .shapedividers_com-629::before {
        background-size: 100% calc(2vw + 90px);
    }
} */


.contact-section .common-title {
    padding-top: 6rem;
}


/* .form-section {} */

/***** End Contact Section *****/


/***** Footer Section *****/


.main-footer-section {
    padding: 0 0 4 0;
    color: var(--bs-main-color);
}

.contact-div {
    background-color: var(--bs-main-color);
    flex: 1;
    margin: 20px;
    cursor: pointer;

}

.contact-div:hover {
    width: auto;
    box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.icon-div {
    width: 5rem;
    height: 5rem;
}

.footer-navmenu {
    margin-top: 1rem;
}

.row ul li a {
    color: var(--bs-primary-color);
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.row ul li a:hover {
    font-weight: bold;
    color: var(--bs-secondary-color);
}

/***** End Footer Section *****/